* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',
        sans-serif;
}

nav {
    display: flex;
    background-color: rgb(180, 78, 232);
    justify-content: space-between;
    padding: 15px 40px;
    color: rgb(234, 192, 255);
}

nav .logo h4 {
    font-family: 'Pacifico',
        cursive;
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-around;
}

ul li a {
    color: rgb(234, 192, 255);
    text-decoration: none;
    font-size: .8em;
}

nav ul li a:hover {
    color: rgb(250, 248, 255);
}

.menu-toggle input {
    position: absolute;
    width: 41px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle {
    position: relative;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(250, 248, 255);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 0;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    -webkit-transform: rotate(45deg) translate(-1px, -1px);
    -moz-transform: rotate(45deg) translate(-1px, -1px);
    -ms-transform: rotate(45deg) translate(-1px, -1px);
    -o-transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    -webkit-transform: rotate(-45deg) translate(-1px, 0);
    -moz-transform: rotate(-45deg) translate(-1px, 0);
    -ms-transform: rotate(-45deg) translate(-1px, 0);
    -o-transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    nav {
        justify-content: space-between;
    }

    nav ul {
        position: absolute;
        width: 100vw;
        height: 30vh;
        margin-top: 40px;
        margin-left: -40px;
        flex-direction: column;
        background-color: rgb(180, 78, 232);
        transform: translateY(-150%);
        -webkit-transform: translateY(-150%);
        -moz-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        -o-transform: translateY(-150%);
        transition: all .8s;
        -webkit-transition: all .8s;
        -moz-transition: all .8s;
        -ms-transition: all .8s;
        -o-transition: all .8s;
        z-index: -1;
    }

    nav ul.slide {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    nav ul a {
        margin-left: 10px;
    }

    .menu-toggle {
        display: flex;
    }
}